img {
    border-radius: 100px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    /* background: url('https://taplink.st/p/b/8/1/5/35470325.svg'); */
}

.backgroundEffect {
    display: flex;
    width: 80%;
    height: 80%;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;

}

.pageLink {
    width: 30%;
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.pageLink button {
    background: rgb(216, 21, 216);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    width: auto;
    min-width: 120px;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
    text-align: center;
}

.pageLink button:hover {
    background: purple;
}

.pageContent {
    width: 70%;
    padding: 20px;
    overflow-y: auto;
}


ul {
    list-style-type: none;
    padding: 0;
}

.pageLink .buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}